<div class="page-content" id="docManage">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">HUI设计语言</h3>
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>编辑</h4>
                    <div class="form-group">
                        <textarea style="height: 526px" class="form-control" id="md_field" rows="3" placeholder="请在此输入文本 ..."></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>预览</h4>
                    <div class="form-control preview-box" style="height: 526px" id="preview"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" id="doc_submit">提交修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
