<div class="page-header">
    <h1 class="page-title">文档管理</h1>
</div>
<div class="page-content" id="docManage">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">HUI设计语言</h3>
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="md-editor" id="mdEditor">
                        <div class="md-header btn-toolbar">
                            <div class="btn-group">
                                <div class="img-upload">
                                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-picture"></i></button>
                                    <input id="docImgUpload" type="file">
                                </div>
                            </div>
                            <div class="md-controls">
                                <a class="md-control md-control-fullscreen exit-fullscreen">
                                    <i class="glyphicon glyphicon-resize-small"></i>
                                </a>
                                <a class="md-control md-control-fullscreen fullscreen">
                                    <i class="glyphicon glyphicon-resize-full"></i>
                                </a>
                            </div>
                        </div>
                        <textarea class="md-input" placeholder="请在此输入文本 ..."></textarea>
                        <div class="md-footer">
                            <button class="btn btn-success" id="doc_submit" type="button">提交修改</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control preview-box" id="preview"></div>
                </div>
            </div>
        </div>
    </div>
</div>
