<form class="h-middle w400" id="iconUploadForm" action="/admin/icon/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>选择文件</label><input id="icon_upload" name="iconFile" type="file" data-url="/admin/iconUpload" multiple="multiple">
    </div>
    <div class="form-group">
        <label>名称</label><input type="text" name="name">
    </div>
    <div class="form-group">
        <label>类型</label><select name="collection">
            <option value="0">标识</option>
            <option value="1">操作</option>
            <option value="2">设备</option>
            <option value="3">视频</option>
            <option value="4">系统状态</option>
        </select>
    </div>
    <div class="form-group">
        <label>标签</label><textarea name="tag"></textarea>
    </div>
    <input name="url" type="hidden">
</form>
<button class="btn btn-primary btn-upload" id="iconUpload" type="button">上传</button>
<script src="/plugins/fileupload/jquery.ui.widget.js"></script>
<script src="/plugins/fileupload/jquery.iframe-transport.js"></script>
<script src="/plugins/fileupload/jquery.fileupload.js"></script>
<script src="/src/js/icon_upload.js"></script>