<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hui后台管理</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/plugins/bootstrap-table/bootstrap-table.min.css" type="text/css" rel="stylesheet">
    <link href="/admin/src/css/admin.css" type="text/css" rel="stylesheet">
    <link href="/admin/src/css/admin-extend.css" type="text/css" rel="stylesheet">
</head>
<body class="site-menubar-unfold">
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega">
    <div class="navbar-header">
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle">
            <span class="navbar-brand-text hidden-xs">HUI</span>
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <div class="collapse navbar-collapse navbar-collapse-toolbar">
            <ul class="nav navbar-toolbar">
                <li class="hidden-float">
                    <a><i class="icon hamburger hamburger-arrow-left hided unfolded"><span class="hamburger-bar"></span></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="site-menubar">
    <ul class="site-menu">
        <li class="site-menu-item">
            <a href="#iconManage">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span class="site-menu-title">图标库管理</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#uikit">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span class="site-menu-title">UIKIT</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a href="#docManage">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span class="site-menu-title">作品池管理</span>
            </a>
        </li>
    </ul>
</div>
<div class="page animsition"></div>
<script type="text/javascript" src="/plugins/require.js" data-main="/admin/app.js"></script>
</body>
</html>