<% include common/head %>
<link href="/plugins/gallery3D/style.css" rel="stylesheet" type="text/css">
<div class="main-wrapper">
    <div class="main-top full-page scroll-section">
        <% include common/header %>
        <div class="main-top-box">
            <div class="h-container">
                <div class="h-heading-content">
                    <div class="h-logo-wrapper">
                        <img class="h-index-logo" src="../src/image/index_logo.png">
                        <h4 class="h-version-title">HUI 1.0</h4>
                        <p class="h-lead">这不仅仅是一个资源共享的平台 , 也是一个高效协作的工具 ,更是一个充满生命力量的精灵 . Hi , I am HUI!</p>
                    </div>
                </div>
            </div>
            <div class="h-particles-wrapper" id="particles-animate">
                <canvas id="particles-canvas" width="1200" height="1000"></canvas>
            </div>
        </div>
        <a id="scrollToNext" class="btn-scroll-down"></a>
    </div>
    <div class="h-section scroll-down-target scroll-section">
        <div class="h-container">
            <div class="h-row">
                <a class="col-md-3 col-xs-6" href="/design/getDesign/web">
                    <div class="h-cont-box">
                        <div class="h-cont-icon h-cont-icon-1"></div>
                        <h4>HUI设计语言</h4>
                        <p>这是一个年轻并迅速成长的专业设计语言，一起来成长吧</p>
                    </div>
                </a>
                <a class="col-md-3 col-xs-6" href="/resource/uikit">
                    <div class="h-cont-box">
                        <div class="h-cont-icon h-cont-icon-2"></div>
                        <h4>资源库</h4>
                        <p>控件与字体图标的强大集合，带来意想不到的便捷</p>
                    </div>
                </a>
                <div class="col-md-3 col-xs-6">
                    <div class="h-cont-box">
                        <div class="h-cont-icon h-cont-icon-3"></div>
                        <h4>前端开发</h4>
                        <p>大量的开发组件和比较成熟的开发框架，为前端开发者提供方便</p>
                    </div>
                </div>
                <a class="col-md-3 col-xs-6" href="/works">
                    <div class="h-cont-box">
                        <div class="h-cont-icon h-cont-icon-4"></div>
                        <h4>作品池</h4>
                        <p>项目案例的分享交流处，为你提供强大的设计灵感与经验</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <% include common/footer %>
</div>

<% include common/foot %>
<script type="text/javascript" src="/plugins/gallery3D/modernizr.custom.53451.js"></script>
<script type="text/javascript" src="/plugins/gallery3D/jquery.gallery.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script type="text/javascript" src="/plugins/particles.js"></script>
<script type="text/javascript" src="/plugins/jquery.scrollify.min.js"></script>
<script type="text/javascript" src="/src/js/index.js"></script>

