<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUI</title>
</head>
<body>
<form action="/user/login" method="post">
	<label>用户名：</label>
	<input type="text" name="username">
	<label>密码：</label>
	<input type="password" name="password">
	<button type="submit">登录</button>
</form>
	
</body>
</html>