<% include ../common/head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="row">
                <div class="h-col-6">
                    <div class="panel">
                        <div class="panel-header">
                            <h3>作品标题</h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>