<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <h1><%= workInfo.title%></h1>
            <h3 style="text-align: center;">作者：<%=  workInfo.author%>&nbsp;&nbsp;&nbsp;创建时间：<%= moment(workInfo.create_at).format('YYYY-MM-DD h:mm:ss') %></h3>
            <div class="h-row">
                <div class="h-col-12">
                    <div class="h-doc-section">
                        <%- content %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>

<% include ../common/foot %>
<script type="text/javascript" src="/plugins/bootstrap.js"></script>
