<% include ../common/head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../building.ejs %>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>