<div class="page-header">
    <h1 class="page-title">作品管理</h1>
</div>

<div class="page-content" id="workPoolManage">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <input type="text" class="form-control work-title" placeholder="请输入标题...">
            </h3>
            <h3 class="panel-title">
                <input type="text" class="form-control work-info" placeholder="请输入简介...">
            </h3>
            <div class="cover-img clearfix">
                <div class="img-upload">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-plus"></i><br/>点击添加封面</button>
                    <input id="coverUpload" name="coverUpload" type="file">
                </div>
                <img id="coverImg" src="" alt="">
            </div>
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="md-editor">
                        <div class="md-header btn-toolbar">
                            <div class="img-upload">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-picture"></i></button>
                                <input id="workImgUpload" name="workImgUpload" type="file">
                            </div>
                        </div>
                        <textarea class="md-input" style="height: 500px" id="md_field" rows="3" placeholder="请在此输入文本 ..."></textarea>
                        <div class="md-footer">
                            <button class="btn btn-success" id="doc_submit" type="button">提交修改</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-control preview-box" style="height: 596px" id="preview"></div>
                </div>
            </div>
        </div>
    </div>
</div>