<div class="page-header">
    <h1 class="page-title">作品管理</h1>
</div>

<div class="page-content" id="workList">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">作品池列表</h3>
        </div>
        <div class="panel-body container-fluid">
            <div id="toolbar">
                <a href="#docManageEdit" id="addDoc" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> 新增作品
                </a>
            </div>
            <table id="workTable" data-toolbar="#toolbar" data-search="true"></table>
        </div>
    </div>
</div>