<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
        <div class="h-banner h-banner-design">
            <div class="h-banner-inner"></div>
        </div>
    </div>
    <div class="h-tabbar">
        <div class="h-container">
            <ul class="h-categories active-white">
                <li><a href="/design/mobile" <% if(type == "mobile"){ %>class="active"
                            <% } %>
                    >移动端</a></li>
                <li><a href="/design/web" <% if(type == "web"){ %>class="active"
                            <% } %>
                    >web</a></li>
                <li><a href="/design/largeScreen" <% if(type == "largeScreen"){ %>class="active"
                            <% } %>
                    >大屏</a></li>
            </ul>
        </div>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="h-row">
                <div class="h-col-9">
                    <div class="h-doc-section">
                        <div class="h-doc-content">
                            <%- content %>
                        </div>
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-sidebar">
                        <ul class="nav h-sidenav">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>

<% include ../common/foot %>

<script type="text/javascript" src="/src/js/design.js"></script>