<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="h-row">
                <div class="h-col-9">
                    <div class="h-doc-section">
                        test
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-sidebar">
                        <ul class="h-sidenav">
                            <li><a>概述</a></li>
                            <li><a>风格与样式</a>
                                <ul>
                                    <li><a>色彩</a></li>
                                    <li><a>字体</a></li>
                                    <li><a>图标</a></li>
                                    <li><a>背景色</a></li>
                                </ul>
                            </li>
                            <li><a>控件</a></li>
                            <li><a>页面与布局</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>

<% include ../common/foot %>