* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1110px;
  background: #fff;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
}
body a {
  text-decoration: none;
  color: inherit;
}
body,
button,
input,
select,
textarea {
  font-family: tahoma, "microsoft yahei", "微软雅黑";
}
h1 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
ul,
li {
  list-style: none;
}
a,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
p {
  line-height: 1.8em;
}
.bg-gray {
  background-color: #e6e6e6;
}
.white-light {
  color: #999999 !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.h-middle {
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after,
.h-row:before,
.h-row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.h-row:after {
  clear: both;
}
.h-img-link img {
  border: 0;
}
.h-row {
  margin: 0 -30px;
}
.h-col-1,
.h-col-2,
.h-col-3,
.h-col-4,
.h-col-5,
.h-col-6,
.h-col-7,
.h-col-8,
.h-col-9,
.h-col-10,
.h-col-11,
.h-col-12 {
  float: left;
  padding: 0 30px;
}
.h-col-1 {
  width: 8.3333%;
}
.h-col-2 {
  width: 16.6667%;
}
.h-col-3 {
  width: 25%;
}
.h-col-4 {
  width: 33.3333%;
}
.h-col-5 {
  width: 41.6667%;
}
.h-col-6 {
  width: 50%;
}
.h-col-7 {
  width: 58.3333%;
}
.h-col-8 {
  width: 66.6667%;
}
.h-col-9 {
  width: 75%;
}
.h-col-10 {
  width: 83.3333%;
}
.h-col-11 {
  width: 91.6667%;
}
.h-col-12 {
  width: 100%;
}
.h-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.w400 {
  width: 400px;
}
.minh-485 {
  min-height: 485px;
}
.bg-lightgray {
  background: #f5f5f5;
}
.h-header {
  width: 100%;
  height: 74px;
}
.h-header .h-container {
  height: 100%;
}
.h-header .h-container .h-logo {
  margin-top: 13px;
  float: left;
}
.h-header .h-container .h-quick-menu {
  display: inline-block;
  float: right;
  line-height: 28px;
}
.h-header .h-container .h-quick-menu li {
  float: left;
}
.h-header .h-container .h-quick-menu li a {
  display: inline-block;
  float: right;
  margin: 22px 0 0 40px;
  padding: 0 10px;
  color: #666666;
  text-decoration: none;
}
.h-header .h-container .h-quick-menu li a:hover {
  color: #fff;
}
.h-header .h-container .h-menu {
  float: right;
  font-size: 14px;
}
.h-header .h-container .h-menu li {
  margin-left: 90px;
  float: left;
}
.h-header .h-container .h-menu li a {
  display: block;
  padding: 22px 4px 0;
  line-height: 28px;
  color: #b8b8b8;
  text-decoration: none;
}
.h-header .h-container .h-menu li a:hover {
  color: #fff;
}
.h-header .h-container .h-menu li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.full-page .h-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.h-header.header-fixed {
  position: fixed;
  min-width: 1110px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}
.header-fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background: #000;
  z-index: 100;
}
.h-banner {
  position: relative;
  z-index: 500;
}
.h-banner .h-banner-inner {
  background-position: center center;
  background-repeat: no-repeat;
}
.h-banner.h-banner-design .h-banner-inner {
  height: 600px;
  background-image: url(../image/huilanguage_banner.png);
}
.h-footer {
  padding: 120px 0;
  background: #262626;
  color: #fff;
}
.h-footer p {
  color: #666666;
}
.h-footer .h-logo {
  margin-top: 50px;
  text-align: center;
}
input,
textarea,
select {
  border: 1px solid #e4eaec;
  line-height: 1.66667;
  font-size: 12px;
  border-radius: 3px;
}
input,
textarea {
  padding: 6px 15px;
}
textarea {
  height: 80px;
  resize: none;
}
select {
  height: 34px;
  padding: 0 12px;
  line-height: 32px;
}
.form-group {
  margin-bottom: 30px;
}
.form-group label {
  display: inline-block;
  width: 80px;
  color: #76838f;
  line-height: 32px;
  vertical-align: top;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 320px;
}
.btn {
  padding: 6px 15px;
  border: 1px solid transparent;
  line-height: 1.66667;
  font-size: 12px;
  border-radius: 3px;
}
.btn-primary {
  background: #62A8EA;
  border-color: #62A8EA;
  color: #fff;
}
.btn-download {
  padding: 7px 35px;
  color: #fff;
  background: #6ac9ff;
  border-radius: 2px;
  text-decoration: none;
  margin: 2px;
}
.btn-download:hover {
  background: #6ac9ff;
  box-shadow: 0 2px 10px 0 rgba(106, 201, 255, 0.5);
}
.h-sidebar.h-sidebar-fixed {
  position: fixed;
  top: 70px;
}
.h-sidebar .h-sidenav {
  margin: 25px 0;
}
.h-sidebar .h-sidenav li > a {
  display: block;
  padding: 4px 20px;
  color: #999;
  text-decoration: none;
}
.h-sidebar .h-sidenav .nav {
  display: none;
  padding-bottom: 10px;
}
.h-sidebar .h-sidenav .nav li > a {
  font-size: 12px;
  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.h-sidebar .h-sidenav .nav li > a:hover {
  padding-left: 29px;
  color: #563d7c;
  border-left: 1px solid #563d7c;
}
.h-sidebar .h-sidenav .nav .active > a {
  padding-left: 28px;
  color: #563d7c;
  border-left: 2px solid #563d7c;
}
.h-sidebar .h-sidenav > li > a:hover {
  padding-left: 19px;
  color: #563d7c;
  border-left: 1px solid #563d7c;
}
.h-sidebar .h-sidenav > li.active > a {
  padding-left: 18px;
  color: #563d7c;
  border-left: 2px solid #563d7c;
}
.h-sidebar .h-sidenav > li.active > .nav {
  display: block;
}
.h-tabbar {
  position: relative;
  height: 54px;
  background: #f8f8f8;
  z-index: 10;
}
.h-tabbar .h-categories li {
  float: left;
}
.h-tabbar .h-categories li a {
  display: block;
  padding: 0 40px;
  line-height: 54px;
  color: #666;
  text-decoration: none;
}
.h-tabbar .h-categories li a:hover {
  background: #eee;
}
.h-tabbar .h-categories li a.active {
  background: #eee;
  color: #333;
}
.h-tabbar.white {
  background: #fff;
}
.h-tabbar.white .h-categories li a:hover {
  background: #fcfcfc;
}
.h-tabbar.white .h-categories li a.active {
  background: #f5f5f5;
}
.h-panel {
  position: relative;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.h-panel .h-panel-header .h-panel-title {
  margin: 0;
  padding: 20px 30px;
  font-size: 20px;
}
.h-panel .h-panel-header + .h-panel-body {
  padding-top: 0;
}
.h-panel .h-panel-header .h-panel-action {
  position: absolute;
  right: 30px;
  top: 25px;
}
.h-panel .h-panel-body {
  padding: 30px;
}
.h-panel .h-panel-body img {
  margin: 0;
  max-width: 100%;
}
.h-panel .h-panel-back {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 22px 30px;
  background: url(../image/arrow_left.png) no-repeat;
  float: left;
}
.main-wrapper,
.full-page {
  position: relative;
  height: 100%;
  min-height: 100%;
}
.main-top {
  position: relative;
  min-height: 74px;
  background: #000;
  color: #fff;
}
.main-top .btn-scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: url(../image/btn_arrow_down.png);
  opacity: .6;
  transition: .3s;
}
.main-top .btn-scroll-down:hover {
  opacity: 1;
}
.h-container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-top-box {
  position: relative;
  height: 100%;
  padding-top: 74px;
}
.main-top-box .h-container {
  display: table;
  width: 100%;
  height: 100%;
}
.main-top-box .h-container .h-heading-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.main-top-box .h-container .h-heading-content .h-logo-wrapper {
  position: relative;
}
.main-top-box .h-container .h-heading-content .h-logo-wrapper .h-index-logo {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 10;
}
.main-top-box .h-container .h-heading-content .h-logo-wrapper .h-version-title {
  position: relative;
  text-align: center;
  line-height: 4em;
  font-size: 24px;
  z-index: 10;
}
.main-top-box .h-container .h-heading-content .h-lead {
  width: 30%;
  margin: 10px auto;
  text-align: center;
  font-size: 13px;
  color: #666666;
}
.main-top-box .h-particles-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  margin: -550px 0 0 -600px;
  z-index: 1;
}
.main-top-box .h-particles-wrapper canvas {
  width: 100%;
  height: 100%;
}
.h-section {
  padding: 50px 0;
}
.h-section.scroll-down-target {
  margin-top: -74px;
  padding-top: 104px;
}
.h-cont-box {
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #7f7f7f;
}
.h-cont-box .h-cont-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.h-cont-box .h-cont-icon.h-cont-icon-1 {
  background: url(../image/icon_language.png);
}
.h-cont-box .h-cont-icon.h-cont-icon-2 {
  background: url(../image/icon_collection.png);
}
.h-cont-box .h-cont-icon.h-cont-icon-3 {
  background: url(../image/icon_tool.png);
}
.h-cont-box .h-cont-icon.h-cont-icon-4 {
  background: url(../image/icon_art.png);
}
.h-cont-box h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
.h-cont-box:hover .h-cont-icon.h-cont-icon-1 {
  background: url(../image/icon_language.gif);
}
.h-cont-box:hover .h-cont-icon.h-cont-icon-2 {
  background: url(../image/icon_collection.gif);
}
.h-cont-box:hover .h-cont-icon.h-cont-icon-3 {
  background: url(../image/icon_tool.gif);
}
.h-cont-box:hover .h-cont-icon.h-cont-icon-4 {
  background: url(../image/icon_art.gif);
}
.h-section-title {
  margin: 80px 0 50px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.h-section-title h3 {
  display: inline-block;
  width: 140px;
  height: 57px;
  background: url(../image/section_title.png) no-repeat;
}
.h-section-title .gallery-info a {
  color: #000;
  text-decoration: none;
}
.slider-wrapper {
  height: 420px;
  margin-bottom: 120px;
}
.btn-scroll-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 0;
  width: 42px;
  height: 40px;
  background: #333 url(../image/arrow_up.png) center center no-repeat;
  opacity: .9;
  border-radius: 4px 4px 0 0;
  transition: .3s;
}
.btn-scroll-up:hover {
  background-color: #45add8;
}
/*
 * 资源库样式
 */
.h-bg {
  background-color: #f0f0f0;
}
.h-block {
  margin: 40px 0 60px 0;
}
/*资源库切换标签*/
.h-tag li {
  padding-left: 1px;
  padding-right: 1px;
  display: inline-block;
  width: 33.33%;
  float: left;
  text-align: center;
}
.h-tag li a {
  display: block;
  height: 40px;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.5);
  line-height: 40px;
  font-size: 13px;
  font-family: 'Agency FB';
  font-weight: bold;
  text-decoration: none;
}
.h-tag li a:hover {
  color: rgba(0, 0, 0, 0.8);
}
.h-tag li .active {
  background-color: #ffffff;
}
/*搜索框*/
.search {
  width: 300px;
  height: 40px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 10px;
  float: right;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  border: 0;
}
.search:focus {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  outline-offset: 0;
}
/*按类展示*/
.block-title {
  text-align: center;
  margin-bottom: 40px;
}
.block-collection {
  display: block;
  height: 540px;
  margin-bottom: 60px;
  border-radius: 6px;
  background-color: #fff;
  transition: all .4s;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
.block-collection:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-2%);
}
.block-collection-title {
  font-weight: normal;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px 20px 0 30px;
}
.block-collection-title a {
  color: #000;
  text-decoration: none;
}
.icons-container {
  padding: 10px 40px 40px 40px;
}
.icons-container li {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 26px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
.icons-container li img {
  height: 48px;
}
.icons-container-coloricon {
  padding: 10px 40px 40px 40px;
}
.icons-container-coloricon li {
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
}
.icons-container-coloricon li a {
  display: inline-block;
}
.icons-container-coloricon li img {
  height: 60px;
}
.single-icon {
  position: relative;
  border-radius: 4px;
}
.icon-operation {
  display: none;
  position: absolute;
  top: 0;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  background-color: #15114a;
  opacity: 0.9;
}
.icon-operation .icon-single-download {
  display: inline-block;
  width: 100%;
  height: 33px;
  line-height: 33px;
  margin-top: 33%;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
.icon-operation .icon-single-download:hover {
  background-color: #0d0a31;
  color: red;
}
/*显示图标数量*/
.total-num {
  float: right;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  font-style: normal;
}
.btn-upload {
  margin-left: 480px;
}
.h-building-box {
  height: 621px;
  padding: 100px 0;
  text-align: center;
}
.h-photo-wall {
  position: relative;
  width: 481px;
  height: 240px;
  margin: 0 auto;
}
.h-photo-wall li .flip-box-front,
.h-photo-wall li .flip-box-black {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 0;
  bottom: 0;
  transition: all 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275) 0s;
}
.h-photo-wall li .flip-box-front {
  background: #ddd;
  z-index: 10;
  transform: rotateY(0deg);
}
.h-photo-wall li .flip-box-black {
  z-index: 0;
  overflow: hidden;
  transform: rotateY(-180deg);
}
.h-photo-wall li .flip-box-black img {
  position: relative;
  max-width: 110%;
  max-height: 110%;
  top: -5%;
  left: -5%;
  transition: 0.4s;
}
.h-photo-wall li .flip-box-black img:hover {
  transform: scale(1.2, 1.2);
}
.h-photo-wall li:hover .flip-box-front {
  z-index: 0;
  transform: rotateY(-180deg);
}
.h-photo-wall li:hover .flip-box-black {
  z-index: 10;
  transform: rotateY(0deg);
}
.h-doc-section h1 {
  margin-top: 50px;
}
.h-doc-section h1:first-child {
  margin-top: 0;
}
.h-doc-section p {
  font-size: 14px;
  margin-bottom: 1em;
}
.h-doc-section img {
  max-width: 100%;
  margin: 2em 0;
}
.fictitious-anchor {
  height: 0;
  margin-top: -94px !important;
  padding-top: 94px !important;
  margin-bottom: 0;
  visibility: hidden;
  overflow: hidden;
}
.work-block {
  margin-bottom: 20px;
}
.block-list {
  display: block;
  text-decoration: none;
  color: #000;
  transition: all .4s;
  height: 190px;
  overflow: hidden;
}
.h-row h1 {
  font-size: 16px;
}
.block-list img {
  width: 100%;
  border-radius: 4px;
}
.h-row p {
  color: #9E9E9E;
  font-size: 14px;
}
.block-list h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.block-list:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-2%);
}
.dg-wrapper {
  width: 600px;
  height: 300px;
}
.dg-wrapper a {
  width: 600px;
  height: 300px;
}
.dg-wrapper a img {
  height: 100%;
}
.pagevews {
  float: right;
  padding: 2px 8px;
  background: #e2d1d1;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.h-search {
  position: relative;
  margin-bottom: 30px;
}
.h-search input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
  font-size: 13px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.2);
}
.h-search input:focus {
  outline: none;
  color: rgba(0, 0, 0, 0.8);
}
.h-search-icon {
  position: absolute;
  right: 16px;
  top: 8px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.color-block {
  display: inline-block;
  height: 16px;
  width: 16px;
}
