* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1110px;
  background: #fff;
  font-family: tahoma, "microsoft yahei", "微软雅黑" !important;
  font-size: 14px;
  line-height: 1.42857;
}
ul,
li {
  list-style: none;
}
a,
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
p {
  line-height: 1.8em;
}
.white-light {
  color: #999999 !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clearfix:before,
.clearfix:after,
.h-row:before,
.h-row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.h-row:after {
  clear: both;
}
.h-img-link img {
  border: 0;
}
.h-row {
  margin: 0 -30px;
}
.h-col-1,
.h-col-2,
.h-col-3,
.h-col-4,
.h-col-5,
.h-col-6,
.h-col-7,
.h-col-8,
.h-col-9,
.h-col-10,
.h-col-11,
.h-col-12 {
  float: left;
  padding: 0 30px;
}
.h-col-1 {
  width: 8.3333%;
}
.h-col-2 {
  width: 16.6667%;
}
.h-col-3 {
  width: 25%;
}
.h-col-4 {
  width: 33.3333%;
}
.h-col-5 {
  width: 41.6667%;
}
.h-col-6 {
  width: 50%;
}
.h-col-7 {
  width: 58.3333%;
}
.h-col-8 {
  width: 66.6667%;
}
.h-col-9 {
  width: 75%;
}
.h-col-10 {
  width: 83.3333%;
}
.h-col-11 {
  width: 91.6667%;
}
.h-col-12 {
  width: 100%;
}
.h-header {
  width: 100%;
  height: 74px;
}
.h-header .h-container {
  height: 100%;
}
.h-header .h-container .h-logo {
  margin-top: 13px;
  float: left;
}
.h-header .h-container .h-quick-menu {
  display: inline-block;
  float: right;
  line-height: 28px;
}
.h-header .h-container .h-quick-menu li {
  float: left;
}
.h-header .h-container .h-quick-menu li a {
  display: inline-block;
  float: right;
  margin: 22px 0 0 40px;
  padding: 0 10px;
  color: #666666;
  text-decoration: none;
}
.h-header .h-container .h-quick-menu li a:hover {
  color: #fff;
}
.h-header .h-container .h-menu {
  float: right;
  font-size: 14px;
}
.h-header .h-container .h-menu li {
  margin-left: 90px;
  float: left;
}
.h-header .h-container .h-menu li a {
  display: block;
  padding: 22px 4px 0;
  line-height: 28px;
  color: #666666;
  text-decoration: none;
}
.h-header .h-container .h-menu li a.active,
.h-header .h-container .h-menu li a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
.full-page .h-header {
  position: absolute;
  top: 0;
  left: 0;
}
.h-header.header-fixed {
  position: fixed;
  min-width: 1110px;
  background: #000;
  border-bottom: 1px solid rgba(69, 172, 215, 0.8);
  z-index: 998;
}
.h-footer {
  padding: 120px 0;
  background: #262626;
  color: #fff;
}
.h-footer p {
  color: #666666;
}
.h-footer .h-logo {
  margin-top: 50px;
  text-align: center;
}
.main-wrapper,
.full-page {
  position: relative;
  height: 100%;
}
.main-top {
  position: relative;
  background: #000;
  color: #fff;
}
.main-top .btn-scroll-down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: url(../image/btn_arrow_down.png);
  opacity: .6;
  transition: .3s;
}
.main-top .btn-scroll-down:hover {
  opacity: 1;
}
.h-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-top-box {
  height: 100%;
  padding-top: 74px;
}
.main-top-box .h-container {
  display: table;
  width: 100%;
  height: 100%;
}
.main-top-box .h-container .h-heading-content {
  display: table-cell;
  vertical-align: middle;
}
.main-top-box .h-container .h-heading-content .h-index-logo {
  display: block;
  margin: 0 auto;
}
.main-top-box .h-container .h-heading-content .h-version-title {
  text-align: center;
  line-height: 4em;
  font-size: 24px;
}
.main-top-box .h-container .h-heading-content .h-lead {
  width: 30%;
  margin: 10px auto;
  text-align: center;
  font-size: 13px;
  color: #666666;
}
.h-section {
  padding: 50px 0;
}
.h-section.scroll-down-target {
  margin-top: -74px;
  padding-top: 104px;
}
.h-cont-box {
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #7f7f7f;
}
.h-cont-box h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
.h-section-title {
  margin: 80px 0 50px;
  text-align: center;
}
.h-section-title h3 {
  display: inline-block;
  width: 140px;
  height: 57px;
  background: url(../image/section_title.png) no-repeat;
}
.slider-wrapper {
  height: 420px;
  margin-bottom: 120px;
  background: #999;
}
.btn-scroll-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 0;
  width: 42px;
  height: 40px;
  background: #333 url(../image/arrow_up.png) center center no-repeat;
  opacity: .9;
  border-radius: 4px 4px 0 0;
  transition: .3s;
}
.btn-scroll-up:hover {
  background-color: #45add8;
}
