@import "color.less";

.btn {
  padding: 6px 15px;
  border: 1px solid transparent;
  line-height: 1.66667;
  font-size: 12px;
  border-radius: 3px;
}

.btn-primary {
  background: @primary;
  border-color: @primary;
  color: #fff;
}