.btn {
  padding: 6px 15px;
  border: 1px solid transparent;
  line-height: 1.66667;
  font-size: 12px;
  border-radius: 3px;
}

.btn-primary {
  background: @primary;
  border-color: @primary;
  color: #fff;
}

.btn-download {
  padding: 6px 22px;
  color: #fff;
  background: #62A8EA;
  border-radius: 14px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
}

.btn-download:hover{
  background: #89bceb;
}