@primary: #62A8EA;

@dark-base: #000;
@dark-gray: lighten(@dark-base, 15%);

@white-base: #fff;
@white-ivory: darken(@white-base, 10%);
@white-light: darken(@white-base, 40%);
@white-lighter: darken(@white-base, 60%);

@text-gray: #7f7f7f;