@import "color.less";
@import "base.less";
@import "header.less";
@import "footer.less";
@import "form.less";
@import "button.less";

.main-wrapper,
.full-page {
  position: relative;
  height: 100%;
}

.main-top {
  position: relative;
  background: @dark-base;
  color: @white-base;
  .btn-scroll-down {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(../image/btn_arrow_down.png);
    opacity: .6;
    transition: .3s;
  }
  .btn-scroll-down:hover {
    opacity: 1;
  }
}


.h-container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.main-top-box {
  height: 100%;
  padding-top: 74px;
  .h-container {
    display: table;
    width: 100%;
    height: 100%;
    .h-heading-content {
      display: table-cell;
      vertical-align: middle;
      .h-index-logo {
        display: block;
        margin: 0 auto;
      }
      .h-version-title {
        text-align: center;
        line-height: 4em;
        font-size: 24px;
      }
      .h-lead {
        width: 30%;
        margin: 10px auto;
        text-align: center;
        font-size: 13px;
        color: @white-lighter;
      }
    }
  }
}

.h-section {
  padding: 50px 0;
}

.h-section.scroll-down-target {
  margin-top: -74px;
  padding-top: 104px;
}

.h-cont-box {
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
  color: @text-gray;
  h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
  }
}

.h-section-title {
  margin: 80px 0 50px;
  text-align: center;
  h3 {
    display: inline-block;
    width: 140px;
    height: 57px;
    background: url(../image/section_title.png) no-repeat;
  }
}

.slider-wrapper {
  height: 420px;
  margin-bottom: 120px;
  background: #999;
}

.btn-scroll-up {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 0;
  width: 42px;
  height: 40px;
  background: #333 url(../image/arrow_up.png) center center no-repeat;
  opacity: .9;
  border-radius: 4px 4px 0 0;
  transition: .3s;
}

.btn-scroll-up:hover {
  background-color: #45add8;
}

/*
 * 资源库样式
 */

.h-bg{
  background-color: rgba(240,240,240,1);
}
.h-block{
  margin: 40px 0 60px 0;
}
/*资源库切换标签*/
.h-tag{
  li{
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    a{
      display: block;
      height: 40px;
      background-color: rgba(248,248,248,1);
      color: rgba(0,0,0,0.5);
      line-height: 40px;
      font-size: 13px;
      font-family: 'Agency FB';
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color: rgba(0,0,0,0.8);
      }
    }
    .active{
      background-color: rgba(255,255,255,1);
    }
  }
}
/*搜索框*/
.search{
  width: 300px;
  height: 40px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 10px;
  float: right;
  font-size: 13px;
  color: rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
  border-radius: 40px;
  border: 0;
  &:focus{
    color: rgba(0,0,0,0.8);
    outline: none;
    outline-offset: 0;
  }
}

/*按类展示*/
.block-title{
  text-align: center;
  margin-bottom: 40px;
}
.block-collection{
  width: 540px;
  width: 540px;
  margin-left: 30px;
  float: left;
  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
  background-color: #fff;
  transition: all .4s;
  cursor: pointer;
  &:first-child{
    margin-right: 30px;
    margin-left: 0;
  }
  &:hover{
    transform: translateY(-2%);
  }
}
.block-collection-title{
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,0.8);
  padding: 20px 20px 0 30px;
}
.icons-container{
  padding: 10px 40px 40px 40px;
  li{
    display: inline-block;
    width: 100px;
    height:100px;
    margin-left: 10px;
    margin-top: 10px;
    &:first-child{
      margin-left: 0;
      margin-top: 0;
    }
    img{
      width: 100%;
    }
  }
}
/*显示图标数量*/
.total-num{
  float: right;
  padding: 0 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  font-style: normal;
}

.btn-upload {
  margin-left: 480px;
}

.h-building-box {
  height: 621px;
  padding: 100px 0;
  text-align: center;
}
