.h-sidebar {
  position: fixed;
  top: 124px;
}

.h-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.h-sidenav {
  & > li {
    &.active {
      .nav {
        display: block;
      }
    }
  }
}