<a class="btn-scroll-up"></a>

<script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.easing.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.smooth-scroll.js"></script>
<script type="text/javascript" src="/src/js/common.js"></script>
</body>
</html>