<div class="h-footer">
    <div class="h-container">
        <div class="h-row">
            <div class="h-col-6 text-right">
                <p>本版本由系统业务中心</p>
                <p>用户体验部 | 楼宇事业部创建和支持</p>
            </div>
            <div class="h-col-6 text-left">
                <p>欢迎联系</p>
                <p class="white-light">UED@hikvision.com.cn</p>
            </div>
        </div>
        <div class="h-logo">
            <img src="/src/image/main_logo.png">
        </div>
    </div>
</div>