<div class="h-header header-fixed">
    <div class="h-container">
        <div class="h-logo">
            <a class="h-img-link" href="/index">
                <img src="/src/image/main_logo.png">
            </a>
        </div>
        <ul class="h-menu">
            <li><a class="<% if(model == 'index'){ %>active<% } %>" href="/index">首页</a></li>
            <li><a class="<% if(model == 'design'){ %>active<% } %>" href="/design/getWebDesign">HUI设计语言</a></li>
            <li><a class="<% if(model == 'resource'){ %>active<% } %>" href="/resource/uikit">资源库</a></li>
            <li><a class="<% if(model == 'front-end'){ %>active<% } %>" href="http://10.20.134.55:4000/">前端开发</a></li>
            <li><a class="<% if(model == 'works'){ %>active<% } %>" href="/works">作品池</a></li>
            <li><a class="<% if(model == 'about'){ %>active<% } %>" href="/about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="header-fixed-bg"></div>