<% include ../common/head %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header %>
    </div>
    <div class="h-section bg-lightgray">
        <div class="h-container">
            <!--内容部分-->
            <div class="h-doc-section">
                <%- content %>
            </div>
        </div>
    </div>
    <% include ../common/footer %>
</div>
<% include ../common/foot %>