<% include head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include header.ejs %>
    </div>
    <div class="h-section">
        <div class="h-container">
            <form action="/upload/icon" method="post" enctype="multipart/form-data">
                <input name="iconName" type="text">
                <input name="iconFile" type="file">
                <button id="iconUpload" type="submit">上传图标</button>
            </form>
        </div>
    </div>
    <% include footer.ejs %>
</div>
<% include foot.ejs %>