<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUI</title>
    <link href="../src/css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-wrapper">
    <div class="main-top">
        <div class="h-header">
            <div class="h-container">
                <div class="h-logo">
                    <a class="h-img-link" href="index.html">
                        <img src="../src/image/main_logo.png">
                    </a>
                </div>
                <ul class="h-menu">
                    <li><a class="active">HUI设计语言</a></li>
                    <li><a>资源库</a></li>
                    <li><a>前端开发</a></li>
                    <li><a>作品池</a></li>
                    <li><a>关于我们</a></li>
                </ul>
            </div>
        </div>
        <div class="main-top-box">
            <div class="h-container">
                <div class="h-heading-content">
                    <img class="h-index-logo" src="../src/image/index-logo.png">
                    <h4 class="h-version-title">HUI 1.0</h4>
                    <p class="h-lead">这不仅仅是一个资源共享的平台 , 也是一个搞高效协作的工具 ,更是一个充满生命力量的精灵 . Hi , I am HUI!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-section">
        <div class="h-container">
            <div class="h-row">
                <div class="h-col-3">
                    <div class="h-cont-box">
                        <img src="../src/image/icon_language.png">
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-cont-box">
                        <img src="../src/image/icon_collection.png">
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-cont-box">
                        <img src="../src/image/icon_tool.png">
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-cont-box">
                        <img src="../src/image/icon_art.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>