<% include ../common/head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-section bg-lightgray">
        <div class="h-container">
            <!--内容部分-->
            <div class="collection-detail">
                <div class="h-doc-section">
                    <div class="h-doc-title clearfix">
                        <div class="pull-left">
                            <a class="btn-turnback" href="/resource/coloricon"><i class="icon-angle-left"></i></a>
                            <h1 class="inline-block"><%= collectionName %></h1>
                        </div>
                        <% if(url){ %>
                        <div class="pull-right">
                            <a class="btn btn-download" href="<%- url %>">psd</a>
                        </div>
                        <% } %>
                    </div>
                    <div class="h-doc-content">
                        <ul class="h-icon-list clearfix">
                            <% iconList.forEach(function(value){ %>
                            <li>
                                <img src=<%- value.url %> alt="">
                                <h5><%- value.name %></h5>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>
