<% include ../common/head.ejs %>
<div class="main-wrapper h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <ul class="h-tag">
        <li><a href="/resource/uikit">UIKIT</a></li>
        <li><a href="/resource/iconfont">ICONFONT</a></li>
        <li><a class="active" href="/resource/coloricon">彩色图标</a></li>
    </ul>
    <div class="h-section">
        <div class="h-container">
            <!--内容部分-->
            <% include ../building.ejs %>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>