<% include ../common/head.ejs %>
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-section bg-lightgray">
        <div class="h-container clearfix">
            <div class="h-search clearfix">
                <input type="text" class="pull-right" placeholder="图标名称/类型...">
                <i class="icon-search h-search-icon"></i>
            </div>
            <div class="h-row">
                <% iconTypes.forEach(function(iconType){ %>
                <% if(iconType.icons.length){ %>
                <div class="h-col-4">
                    <a class="h-panel block-collection" href="coloricon/type/<%= iconType.id %>">
                        <div class="h-panel-header clearfix">
                            <h4 class="h-panel-title pull-left"><%= iconType.name %></h4>
                            <div class="pull-right">
                                <span class="badge badge-info"><%= iconType.icons.length %></span>
                            </div>
                        </div>
                        <div class="h-panel-body">
                            <ul class="clearfix">
                                <% var num = 0;iconType.icons.forEach(function(icon, index){ %>
                                <% if(icon.collection_id == iconType.id && num < 16) { num++ %>
                                <li class="h-col-3 h-icon-wrap">
                                    <img src=<%- icon.url %> alt="">
                                </li>
                                <% } %>
                                <% }) %>
                            </ul>
                        </div>
                    </a>
                </div>
                <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>