<% include ../common/head.ejs %>
<div class="h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <ul class="h-tag clearfix">
        <li><a href="/resource/uikit">UIKIT</a></li>
        <li><a class="active" href="/resource/iconfont">ICONFONT</a></li>
        <li><a href="/resource/coloricon">彩色图标</a></li>
    </ul>
    <div class="h-section">
        <div class="h-container">
            <!--内容部分-->
            <div class="collection-detail">
                <h4 class="block-collection-title">
                    <span>标示类图标</span>
                    <i class="total-num">20</i>
                </h4>
                <ul class="icons-container clearfix">
                    <% iconList.forEach(function(value){ %>
                        <li><img src=<%- value.url %> alt=""></li>
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>
