<div class="h-tabbar white">
    <div class="h-container">
        <ul class="h-categories">
            <li><a class="<% if(subModel == 'uikit'){ %>active<% } %>" href="/resource/uikit">UIKIT</a></li>
            <li><a class="<% if(subModel == 'iconfont'){ %>active<% } %>" href="/resource/iconfont">ICONFONT</a></li>
            <li><a class="<% if(subModel == 'coloricon'){ %>active<% } %>" href="/resource/coloricon">彩色图标</a></li>
            <li><a class="<% if(subModel == 'animate'){ %>active<% } %>" href="/resource/animate?page=1">动效资源库</a></li>
        </ul>
    </div>
</div>