<% include ../common/head.ejs %>
<link href="/plugins/dialogeffects/css/dialog.css" rel="stylesheet" type="text/css">
<div class="main-wrapper">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <% include ../resource/submenu.ejs %>
    <div class="h-section bg-lightgray">
        <div class="h-container">
            <div class="h-row">
                <div class="h-col-9">
                    <div class="h-doc-section">
                        <div class="h-doc-title clearfix">
                            <div class="pull-left">
                                <h1>UIKIT</h1>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-download" href="<%- attachment_url %>">下载</a>
                            </div>
                        </div>
                        <div class="h-doc-content img-lightbox">
                            <%- content %>
                        </div>
                    </div>
                </div>
                <div class="h-col-3">
                    <div class="h-sidebar">
                        <ul class="nav h-sidenav">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>
<script type="text/javascript" src="/plugins/dialogeffects/js/dialogZ.js"></script>