<% include ../common/head.ejs %>
<div class="main-wrapper h-bg">
    <div class="main-top">
        <% include ../common/header.ejs %>
    </div>
    <ul class="h-tag clearfix">
        <li><a href="/resource/uikit">UIKIT</a></li>
        <li><a href="/resource/iconfont">ICONFONT</a></li>
        <li><a href="/resource/coloricon">彩色图标</a></li>
    </ul>
    <div class="h-section">
        <div class="h-container">
            <!--内容部分-->
            <div class="clearfix">
                <input type="text" placeholder="Search..." class="search">
            </div>
        </div>
    </div>
    <div class="h-section">
        <div class="h-container">
            <p class="block-title">公共图标</p>
            <div class="block-collection">
                <div class="icons-container">

                </div>
            </div>
        </div>
    </div>
    <% include ../common/footer.ejs %>
</div>
<% include ../common/foot.ejs %>