<div class="page-header">
    <h1 class="page-title">新建图标库</h1>
</div>
<div class="page-content" id="collectionAdd">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel" id="collectionAddWizard">
                <div class="panel-body container-fluid">
                    <div class="wizard">
                        <ul class="row steps steps-sm">
                            <li class="col-md-6 step">
                                <a href="#collectionInfo" data-toggle="tab">
                                    <span class="step-number">1</span><span class="step-title">基本信息</span>
                                </a>
                            </li>
                            <li class="col-md-6 step">
                                <a href="#collectionIcon" data-toggle="tab">
                                    <span class="step-number">2</span><span class="step-title">上传图标</span>
                                </a>
                            </li>
                            <!--<li class="col-md-4 step">-->
                            <!--<a href="#collectionAddFinish" data-toggle="tab">-->
                            <!--<span class="step-number">3</span><span class="step-title">提交创建内容</span>-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="collectionInfo">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <form class="form-horizontal" id="collectionForm">
                                            <input type="hidden" name="attachmentUrl">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">名称</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" type="text" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">图标类型</label>
                                                <div class="col-md-9">
                                                    <select class="form-control" name="type">
                                                        <option value="svg">svg</option>
                                                        <option value="png">png</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">附件</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" name="attachment" id="attachmentUpload" type="file">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="collectionIcon">
                                <div class="upload-block">
                                    <i class="glyphicon glyphicon-cloud-upload"></i>
                                    <span>点击此处上传</span>
                                    <input type="file" id="iconUpload" name="iconFile">
                                </div>
                                <div class="icon-list-box" id="iconListBox">

                                </div>
                            </div>
                            <!--<div class="tab-pane" id="collectionAddFinish"></div>-->
                        </div>
                        <ul class="wizard-buttons clearfix">
                            <li class="pull-left previous"><a class="btn btn-default btn-outline">上一步</a></li>
                            <li class="pull-right next"><a class="btn btn-primary btn-outline">下一步</a></li>
                            <li class="pull-right finish"><a class="btn btn-success btn-outline" data-action="submit">完成</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div class="panel-heading">-->
                <!--<button class="btn btn-default" type="button">上传图标</button>-->
                <!--&lt;!&ndash;<h3 class="panel-title">上传图标</h3>&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="panel-body container-fluid">-->
                <!--<div class="row">-->
                <!--<div class="col-lg-6">-->
                <!--<div class="icon-list-box no-icon" id="iconListBox">-->
                <!--<div class="upload-block">-->
                <!--<i class="glyphicon glyphicon-cloud-upload"></i>-->
                <!--<p>点击此处上传</p>-->
                <!--<input type="file" id="iconUpload">-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>