<div class="page-header">
    <h1 class="page-title">图标库管理</h1>
</div>
<div class="page-content" id="iconCollection">
    <div class="panel">
        <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">图标库</h3>-->
        <!--</div>-->
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="collectionToolbar">
                        <a class="btn btn-primary" data-action="add" href="#iconManage/addCollection">添加</a>
                    </div>
                    <table id="collectionList"></table>
                </div>
            </div>
        </div>
    </div>
</div>